<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) 2018 Rebecca Ramnauth -->
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>

  <appSettings>

    <!-- tables -->
    <add key = "JobLog" value = "dbo.Reg_Change_Job_Logs" />
    <add key = "FileLog" value = "dbo.Reg_Change_Extract_Tracker" />
    <add key = "ContentLog" value = "dbo.Reg_Change_Content" />

    <!-- table relationships -->
    <add key = "Reg_Structure" value = "dbo.Reg_Change_Structure" />
    <!-- LEVEL 1: FILE ITEMS --> <add key = "1" value = "File_Source, File_Name, File_Id, File_Updated, File_Publish, File_Content_Container"/> <!-- last field must be a pointer to content tag -->
    <!-- LEVEL 2: CONTENT ITEM --> <add key = "2" value = "Content_Id, Content_Updated, Content_Action"/> <!-- first field must be content id -->
    <!-- LEVEL 3: USER-DEFINED REGULATION ITEMS --> <add key = "3" value = "Subscription_Id, Reg_Body"/> <!-- first field must be subscription id -->
    <!-- LEVEL 4: REGULATION ITEMS --> <add key = "4" value = "Reg_Citation, Reg_Jurisdiction, Reg_Title, Reg_Subtitle, Reg_Chapter, Reg_Subchapter, Reg_Part, Reg_Subpart, Reg_Section, Reg_Subsection, Reg_Content, Reg_References, Reg_Content_Id"/>

    <!-- Content Column, Level, Index, Format Style -->
    <add key = "Structure-Log-Relationship"
         value = "Subscription_Id,     3, 0; 
                  File_Source,         1, 0, $soft_title;
                  File_Name,           1, 1;
                  File_Id,             1, 2, $after 'urn:uuid:';
                  File_Updated,        1, 3;
                  File_Publish,        1, 4, $lower;
                  Content_Id,          2, 0, $after 'urn:contentItem:';
                  Content_Updated,     2, 1;
                  Content_Action,      2, 2, $lower;
                  Reg_Citation,        4, 0, $upper;
                  Reg_Jurisdiction,    4, 1, $soft_title;
                  Reg_Body,            3, 1, $adjusted_title;
                  Reg_Title,           4, 2, $adjusted_title; 
                  Reg_Subtitle,        4, 3, $adjusted_title; 
                  Reg_Chapter,         4, 4, $adjusted_title; 
                  Reg_Subchapter,      4, 5, $adjusted_title; 
                  Reg_Part,            4, 6, $adjusted_title; 
                  Reg_Subpart,         4, 7, $adjusted_title; 
                  Reg_Section,         4, 8, $soft_title; 
                  Reg_Subsection,      4, 9; 
                  Reg_Content,         4, 10; 
                  Reg_References,      4, 11"
         />

    <add key = "Content_Delimiter" value = "--yytet00pubSubBoundary00tetyy"/>
    <add key = "Reg_Delete_Filter" value = "0"/> <!-- field index from regulation item (level 4) determines whether regulation is worth writing to db-->
    <add key = "Delete_Identifier" value = "2, delete"/> <!-- field index from content item (level 2) identifying empty/deleted records -->
    
    <!-- directory controls -->
    <add key = "TransferProcessed" value = "true"/>
    <add key = "KeepXMLContent" value = "true"/>
    <add key = "KeepExceptionFiles" value = "true"/>
    <add key = "LogRetention" value = "7"/> <!-- # of days for a log file to exist -->
    <add key = "LogLevel" value = "1"/> 

    <!-- directories -->
    <add key = "InflowDir" value = "test_files/inflow_content/" />
    <add key = "WorkingDir" value = "test_files/regulation_content/" />
    <add key = "ProcessedTXTDir" value = "test_files/processed_content_txt/" />
    <add key = "ProcessedXMLDir" value = "test_files/processed_content_xml/" />
    <add key = "LogDir" value = "test_files/logs/" />
    
  </appSettings>

  <connectionStrings>
    <add name = "ConnectionKey"
      connectionString = "Data Source=GIRLSWHOCODE;Initial Catalog=LexisExtract;Integrated Security=true"
      providerName = "System.Data.SqlClient" />
  </connectionStrings>

</configuration>